.centerer {
	max-width: rem(1200);
	margin-right: auto;
	margin-left: auto;
	padding-right: rem(20);
	padding-left: rem(20);

	@media (--tablet-desktop) {
		padding-right: rem(30);
		padding-left: rem(30);
	}

	&_narrow {
		max-width: rem(1036);
	}
}
